* { box-sizing: border-box; }

* {
	font-family: 'Source Sans Pro', sans-serif;
}

li { cursor: pointer; }

div.background {
	height: 84%;
    width: 75%;
    background-color: lightgray;
    margin-top: 24px;
    margin-bottom: 40px;
    box-shadow: 7px 7px 13px #888888;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

button.save
	{cursor: pointer;}

button.submit
	{cursor: pointer;}

button.save:hover {
	font-weight: bold;
}

button.submit:hover {
	font-weight: bold;
}

th.edit {
	border: none;

}
button.edit{
	height: 20px;
	width: 47px;
	cursor: pointer;
	display: none;
}

button.add{
	height: 20px;
	width: 47px;
	cursor: pointer;
	border: 1px solid;
	border-radius: 5px;
	margin-right: 4px;
	box-shadow: 5px 5px 15px #888888;
}

table.date {
	margin-top: -57px;
    margin-left: 52px;
    padding: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    background-color: gray;
    border-radius: 10px;
    color: white;
    height: 60px;
    position: relative;
    box-shadow: 7px 7px 13px #888888;

}

table.date td {
	border: none;
}

th.add {
	border: none;
}
td.project { 
	cursor: pointer;
    width: 242px;
    overflow: visible;
    position: absolute;
    height: 26px;
 }

 td.project: hover {
 	font-weight: bold;
 }


 td.total {
 	background-color: #d9d9d9;
 }



.box1 {
	height: 63px;
	width: 100%;
	background-color: #870000;
}

.box2 {
    height: 37px;
    width: 80%;
    background-color: white;
    position: absolute;
    margin-left: 240px;
    }



img {
	height: 100px;
	float: left;

}

li.nav:hover {
	font-weight: bold;
}


div.border {
	width: 100%;
	height: 4px;
	background-color: #d9d9d9;
	margin-top: 37px;
}


nav.headnav {
	float: right;
	position: relative;
	margin-top: 8px;
}
ul.headlink {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

ul.headlink {
	margin-right: 116px;
}
li.nav {
	display: inline;
	margin-right: 57px;
	background: rgba(135, 25, 25, 0.4);
	border: 1px solid;
	border-color: #870000;
	border-radius: 5px;
    padding: 3px;
	box-shadow: 3px 3px 13px #888888;
}


th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table.entry {
    justify-content: center;
    margin-top: 24px;
    margin-left: 53px;
    margin-bottom: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #870000;
    padding: 10px;
    background-color: white;
}


table.total {
	width: 800px;
	justify-content: center;
    margin-top: 35px;
    margin-left: 53px;
    margin-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #870000;
    padding: 10px;
    text-align: center;
    background-color: white;
}

td.total {
	border-width: 2px;
    border-style: solid;
    border-color: gray;
    text-align: center;
}


body {
	background-color: white;
}

tr {
	height: 22px;
	overflow: hidden;
}

div.buttonfamily {
    height: 60px;
    width: 177px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 675px;
    margin-top: 18px;
    background-color: gray;
    box-shadow: 7px 7px 13px #888888;   
}

button.save {
	margin-left: 17px;
    margin-top: 7px;
    width: 60px;
    height: 45px;
}
button.submit {
	margin-left: 17px;
    margin-top: 7px;
    position: absolute;
    width: 66px;
    height: 45px;
}

td {
	overflow: hidden;

}

td.empty{
	border: none;
}


ul.dropdown {
	background-color: white;
    list-style-type: none;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid #d9d9d9;
    padding: 3px;
    max-height: 140px;
    overflow: scroll;
    left: 0;
    top: 40px;
    width: 242px;
    display: block;
	
}





ul.submenuclient {
	display: block;
	font-size: 14px;
	overflow: wrap;
}

.submenuproject {
	margin-left: 10px;
	list-style: none;
	overflow: wrap;
}

@media screen and (max-width: 1100px) {
	  div.background {width: 80%;  }
	  div.background {margin: auto;}
	  div.background {display: block;}

	  table.entry {with: 80%;}
	  
	}

